<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./app.component.scss">
  <title>Portfolio</title>
</head>
<body>
 <app-header></app-header>

  <!-- Start Section -->
   <section class="start">
    <div class="start__container">
      <h1>Hallo, ich bin <br>Abilash Shanmugavel! </h1>
    </div>
   </section>
   <!-- Über Mich Section -->
   <section class="ueberMich">
    <div class="circle">
      <span class="number">1</span>
    </div>
    <h2>Über Mich</h2>
    <p>Derzeit studiere ich Wirtschaftsinformatik an der Hochschule Ravensburg-Weingarten und beschäftige mich intensiv mit der Entwicklung von Softwarelösungen, die sowohl technisch als auch praktisch überzeugen.
      Meine Reise als Entwickler ist erst am Anfang, aber meine Begeisterung für Technologie und Programmierung wächst täglich.</p>
   </section>

</body>
</html>